.App {
  text-align: center;
  min-width:100%;
  min-height:100vh;

  width:100vw;
  height:100%;
  background-color:#0A1747;
  display:flex;
  justify-content: center;
  align-items: center;
}

.app-section{
  padding-top:2em;
  padding-bottom:2em;
  padding-left:4em;
  padding-right:4em;
  width:70%;
   
  display:flex;
  flex-flow:row
}



.form{
  width:40%;
  padding-top:40px;
  border-radius:5px;
  border-right:3px solid #F2E313;
  background-color:#F5f5f5;

}

.form-items{
  margin-left:40px;
  margin-right:40px;
  margin-bottom:20px;

  display:flex;
  flex-flow:column;
  align-items: flex-start;

  font-size:1.1em;
  font-family:'Roboto', sans-serif;

}

.input-form{
  margin-top:5px;
  width:80%;
  padding:5px;
  border-radius:5px;
  display:flex;
  flex-flow:row;

}

.false-input{
  padding:5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius:5px;
  width:100%;
}

.input-extra{
  background-color:#F5F5F5;
  border: solid 1px rgb(221, 221, 221);
  width:20%;
  padding:5px;
  color:black;
  border-top-left-radius: 5px;
  border-bottom-left-radius:5px;
 
}

.radios{
  width:100%;
  height:40px;
  display:flex;
  align-items:center;
}

.radio-option{
  margin-right:20px;
  display:flex;
  flex-flow:row;
  align-items: center;
}

.radio-option>img{
  width:25px;
  height:25px;
  margin-left:5px;
}

.btn-convert{
  padding:10px 50px;
  pointer-events: stroke;
  border-radius:5px;
  border:0;
  background-color:#FFFF05;

  font-size:.85em;
}

.mid-sect{
  width:7%;
  
}

/* Css da parte dos resultados de conversão */

.result-section{
  
  width:53%;
  padding-top:40px;
  padding-bottom:40px;
  background-color:#F5f5f5;
 
  justify-self:flex-end;
  border-left:3px solid #F2E313;
  border-radius:5px;

  font-family:'Roboto', sans-serif;
  
  
}

.result-control{
  margin-left:40px;
  margin-right:40px;

  display:flex;
  flex-flow:row;
  font-size:1.1em;
  
  margin-bottom:10px;
  border-bottom:solid 2px #F2E313;

}

.result-control-label{
  width:280px;
  padding:10px;

  display:flex;
  align-items: flex-start;
}

.result-control-info{
  width:30%;
  padding:10px;
}

.result-control:last-child{
  margin-top:25px;
  border:0;
}

